models/stable-diffusion-webui/
.DS_Store
tsconfig.json
__pycache__
tsconfig.json
.DS_Store
*.wav
* 2.*
models/stable-diffusion-webui/
/backend/node_modules
/backend/recordings
backend/transcript.json
/backend/models
backend/audio.mp3
